<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register- Classroom Monitoring System</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </nav>

    <div class="form-container">
      <h2>Register</h2>
      <form id="register form">
        <input type="text" id="registerName" placeholder="Name" required />
        <input type="email" id="registerEmail" placeholder="Email" required />
        <input
          type="password"
          id="registerPassword"
          placeholder="Create Password"
          required
        />
        <button type="submit">Submit</button>
      </form>
    </div>

    <script>
      document
        .getElementById("registerForm")
        .addEventListener("submit", function (e) {
          e.preventDefault();

          const name = document.getElementById("registerName").value;
          const email = document.getElementById("registerEmail").value;
          const password = document.getElementById("registerPassword").value;

          const user = {
            name: name,
            email: email,
            password: password,
          };

          localStorage.setItem(email, JSON.stringify(user));

          alert("register successful! Redirecting to login page.");
          window.location.href = "login.html";
        });
    </script>
  </body>
</html>
